.header {
  display: flex;
  padding: 15px 200px;
  justify-content: space-between;
  align-items: center;
  background: #242424;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_icons{
    gap: 20px;
    width: 8px;
    height: 16px;
}

.head_nav a{
    text-decoration: none;
    color: #fff;
}

.head_nav{
    gap: 20px;
}

select{
    background: none;
    border: none;
    color: #fff;
}


option{
    color: #000;
}
select:focus{
    outline: none;
}

a{
    color: #000;
    text-decoration: none;
}