 /* @import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');


.container {
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__box {
  margin-right: auto;
  display: flex;
  /* gap: 30px; */

  /* button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 15px;

    border: 1px solid #ff671b;
    background: #ff671b;

    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: capitalize;
  }

  input {
    width: 300px;
    border-radius: 12px 0 0 12px;
    margin-left: 30px;


    border: 1.5px solid #bdbdbd;
    background: #fff;
  }

  .search {
    border-radius: 0px 12px 12px 0px;
    background: #bdbdbd;
    border: none;
  }
}

.logo {
    font-family: 'Onest', sans-serif;
}

.header__menu {
  display: flex;
  gap: 20px;
  align-items: flex-end;

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box a {
    text-decoration: none;
    color: #000;
    align-items: center;
  }
}

.nav {
    height: 98px;
  max-width: 1200px;
  margin: 0 auto;
}

  */
